accelerate[torch]
ray[data,train,tune,serve,default]
scikit-learn 
deepspeed
datasets  
lightning 
evaluate 
sacrebleu
git+https://github.com/huggingface/transformers
pyarrow
pydantic
fastapi
sentencepiece
tokenizers
uvicorn
adagio
adal
aim
aim-ui
aimrecords
aimrocks
aioboto3
aiobotocore
aiofiles
aiohttp
aiohttp-cors
ale-py
alembic
altair
annotated-types
anyio
appdirs
argcomplete
arrow
aws-sam-translator
aws-xray-sdk
backoff
bokeh
botocore
dm-tree
fsspec
fugue
grpcio
grpcio-status
grpcio-tools
jsonschema
ml-collections
nbconvert
nbformat
numpy
openapi-spec-validator
pandas
redis
requests
sqlalchemy
statsmodels
tornado
triton==3.1.0 
tqdm
Brotli
Farama-Notifications
Pillow
PyNaCl
PySocks
PyWavelets
aiorwlock
applicationinsights
archspec
async-timeout
azure-cli-core
azure-cli-telemetry
azure-common
azure-core
azure-identity
azure-mgmt-compute
azure-mgmt-core
azure-mgmt-network
azure-mgmt-resource
bcrypt
blessed
boltons
cffi
commonmark
exceptiongroup
flatbuffers
google-api-python-client
google-auth-httplib2
google-oauth
gpustat
gymnasium
humanfriendly
imageio
importlib-metadata
importlib-resources
isodate
jax-jumpy
jsonpatch
jsonpointer
knack
lazy_loader
lz4
msal
msal-extensions
msrest
msrestazure
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
paramiko
pkginfo
pkgutil_resolve_name
prometheus-client
pyOpenSSL
pyasn1-modules
pycosat
pycparser
pyrsistent
ray
ray-cpp
redis
requests
requests-oauthlib
rich
rsa
ruamel.yaml
ruamel.yaml.clib
s3transfer
scikit-image
scipy
six
smart-open
sniffio
starlette
tabulate
tensorboardX
tifffile
tqdm
trl
typer
typing_extensions
uritemplate
urllib3
uvicorn
uvloop
virtualenv
watchfiles
wcwidth
websockets
yarl
zipp
zstandard