apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Meta.Name }}
  namespace: {{ .Meta.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Meta.Name }}
  template:
    metadata:
      labels:
        app: {{ .Meta.Name }}
    spec:
      restartPolicy: Always
      {{- if .Meta.ImagePullSecret }}
      imagePullSecrets:
      - name: {{ .Meta.ImagePullSecret }}
      {{- end }}
      containers:
      - name: {{ .Meta.Name }}
        image: {{ .Meta.Image }}
        imagePullPolicy: Always
        {{- if .Workload.Entrypoint }}
        command: 
        - sh
        - -c
        - {{ .Workload.Entrypoint }}
        {{- end }}
        env:
        {{- if .Meta.EnvVars }}
        {{- range .Meta.EnvVars }}
        {{- if .Value }}
          - name: {{ .Name }}
            value: "{{ .Value }}"
        {{- else }}
          - name: {{ .Name }}
            valueFrom:
              secretKeyRef:
                name: {{ .ValueFrom.SecretKeyRef.Name }}
                key: {{ .ValueFrom.SecretKeyRef.Key }}
        {{- end }}
        {{- end }}
        {{- end }}
        resources:
          requests:
            memory: "{{ mul .Scheduling.TotalRequestedGPUs 32 }}Gi"
            cpu: "{{ mul .Scheduling.TotalRequestedGPUs 4 }}"
            amd.com/gpu: "{{ .Scheduling.TotalRequestedGPUs }}"
          limits:
            memory: "{{ mul .Scheduling.TotalRequestedGPUs 32 }}Gi"
            cpu: "{{ mul .Scheduling.TotalRequestedGPUs 4 }}"
            amd.com/gpu: "{{ .Scheduling.TotalRequestedGPUs }}"
        volumeMounts:
        {{- if .Meta.SecretVolumes }}
        {{- range .Meta.SecretVolumes }}
          - name: {{ .Name }}
            mountPath: {{ .MountPath }}
            subPath: {{ .SubPath }}
        {{- end }}
        {{- end }}
        {{- if .Meta.HasConfigMap }}
          - mountPath: /workload
            name: workload
        {{- end }}
          - mountPath: /dev/shm
            name: dshm
      volumes:
      {{- if .Meta.SecretVolumes }}
      {{- range .Meta.SecretVolumes }}
        - name: {{ .Name }}
          secret:
            secretName: {{ .SecretName }}
            items:
              - key: {{ .Key }}
                path: {{ .SubPath }}
      {{- end }}
      {{- end }}
      {{- if .Meta.HasConfigMap }}
        - name: workload
          configMap:
            name: {{ .Meta.Name }}
      {{- end }}
        - name: dshm
          emptyDir:
            medium: Memory
            sizeLimit: 200Gi
