---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - events
  - namespaces
  - persistentvolumeclaims
  - pods
  - pods/log
  - secrets
  - serviceaccounts
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - aim.silogen.ai
  resources:
  - aimclustermodels
  - aimclusterruntimeconfigs
  - aimclusterservicetemplates
  - aimmodelcaches
  - aimmodels
  - aimruntimeconfigs
  - aimservices
  - aimservicetemplates
  - aimtemplatecaches
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - aim.silogen.ai
  resources:
  - aimclustermodels/finalizers
  - aimclusterservicetemplates/finalizers
  - aimmodelcaches/finalizers
  - aimmodels/finalizers
  - aimservicetemplates/finalizers
  verbs:
  - update
- apiGroups:
  - aim.silogen.ai
  resources:
  - aimclustermodels/status
  - aimclusterservicetemplates/status
  - aimmodelcaches/status
  - aimmodels/status
  - aimservices/status
  - aimservicetemplates/status
  - aimtemplatecaches/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets
  - deployments
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - config.kaiwo.silogen.ai
  resources:
  - kaiwoconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - fluentbit.fluent.io
  resources:
  - clusterfilters
  - clusterinputs
  - clustermultilineparsers
  - clusteroutputs
  - clusterparsers
  - multilineparsers
  - parsers
  verbs:
  - list
- apiGroups:
  - fluentbit.fluent.io
  resources:
  - clusterfluentbitconfigs
  - collectors
  - filters
  - fluentbitconfigs
  - fluentbits
  - inputs
  - outputs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - fluentd.fluent.io
  resources:
  - clusterfilters
  - clusterinputs
  - clusteroutputs
  - filters
  - inputs
  - outputs
  verbs:
  - list
- apiGroups:
  - fluentd.fluent.io
  resources:
  - clusterfluentdconfigs
  - fluentdconfigs
  - fluentds
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - fluentd.fluent.io
  resources:
  - fluentdconfigs/finalizers
  - fluentds/finalizers
  verbs:
  - update
- apiGroups:
  - fluentd.fluent.io
  resources:
  - fluentdconfigs/status
  - fluentds/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - httproutes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - httproutes/status
  verbs:
  - get
- apiGroups:
  - kaiwo.silogen.ai
  resources:
  - kaiwojobs
  - kaiwoqueueconfigs
  - kaiwoservices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kaiwo.silogen.ai
  resources:
  - kaiwojobs/finalizers
  - kaiwoqueueconfigs/finalizers
  - kaiwoservices/finalizers
  verbs:
  - update
- apiGroups:
  - kaiwo.silogen.ai
  resources:
  - kaiwojobs/status
  - kaiwoqueueconfigs/status
  - kaiwoservices/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kueue.x-k8s.io
  resources:
  - admissionchecks
  - clusterqueues
  - localqueues
  - resourceflavors
  - topologies
  - workloadpriorityclasses
  - workloads
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ray.io
  resources:
  - rayjobs
  - rayservices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterrolebindings
  - clusterroles
  - rolebindings
  - roles
  verbs:
  - create
  - get
  - list
  - patch
  - watch
- apiGroups:
  - serving.kserve.io
  resources:
  - clusterservingruntimes
  - inferenceservices
  - servingruntimes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - serving.kserve.io
  resources:
  - clusterservingruntimes/status
  - inferenceservices/status
  - servingruntimes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - workload.codeflare.dev
  resources:
  - appwrappers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
