{{ define "resources" }}
resources:
  limits:
    cpu: "{{ mul .GPUs 4 }}"
    memory: "{{ mul .GPUs 32 }}Gi"
    amd.com/gpu: "{{ .GPUs }}"
  requests:
    cpu: "{{ mul .GPUs 4 }}"
    memory: "{{ mul .GPUs 32 }}Gi"
    amd.com/gpu: "{{ .GPUs }}"
{{ end }}