apiVersion: kaiwo.silogen.ai/v1alpha1
kind: KaiwoJob
metadata:
  name: example-kaiwojob
  namespace: alex-test
spec:
  user: alex.saliniemi@amd.com
  gpus: 0
  storage:
    storageEnabled: true
    storageClassName: "local-path"
    data:
      storageSize: "2Gi"
      download:
        s3:
          - endpointUrl:
              secretName: minio-secret
              secretKey: endpoint
            accessKeyId:
              secretName: minio-secret
              secretKey: access_key_id
            secretKey:
              secretName: minio-secret
              secretKey: secret_key
            buckets:
              - name: test
                files:
                  - path: file01.txt
                    targetPath: s3/file01.txt
                folders:
                  - path: .
                    targetPath: s3/all
        azureBlob:
          - connectionString:
              secretName: azure-secret
              secretKey: connection_string
            containers:
              - name: test
                files:
                  - path: file01.txt
                    targetPath: azure/file01.txt
                folders:
                  - path: .
                    targetPath: azure/all
    huggingFace:
      storageSize: "2Gi"
      preCacheRepos:
        - repoId: TinyLlama/TinyLlama-1.1B-Chat-v1.0
          files:
            - "README.md"
#  config:
#    mountPath: "/workload/config"
#    files:
#      - path: "config.json"
#        value: "{'val': 42}"
#      - path: "dir/config.json"
#        value: "{}"
  jobSpec:
    template:
      spec:
        restartPolicy: Never
        containers:
        - name: ubuntu
          image: ubuntu:latest
          imagePullPolicy: Always
          # Just spin & wait forever
          command: [ "/bin/bash", "-c", "--" ]
          args: [ "while true; do sleep 5; done;" ]