apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../config/rbac
  - ../../config/manager
  - ../../config/certmanager
  - ../../config/prometheus
  - resources/metrics_service.yaml

# Set the namespace
namespace: kaiwo-system

# Set the name prefix
namePrefix: kaiwo-

patches:
  - path: patches/manager-dev-patch.yaml
    target:
      kind: Deployment
      name: controller-manager
  - path: patches/manager_metrics_patch.yaml
    target:
      kind: Deployment
  - path: patches/cert_metrics_manager_patch.yaml
    target:
      kind: Deployment
  - path: patches/manager_webhook_patch.yaml
    target:
      kind: Deployment
  - path: patches/role_patch.yaml
    target:
      kind: ClusterRole
      name: manager-role

# Replacements from ../default (for cert-manager)
replacements:
- source:
    kind: Service
    version: v1
    name: controller-manager-metrics-service
    fieldPath: metadata.name
  targets:
  - select:
      kind: Certificate
      group: cert-manager.io
      version: v1
      name: metrics-certs
    fieldPaths:
    - spec.dnsNames.0
    - spec.dnsNames.1
    options:
      delimiter: '.'
      index: 0
      create: true
- source:
    kind: Service
    version: v1
    name: controller-manager-metrics-service
    fieldPath: metadata.namespace
  targets:
  - select:
      kind: Certificate
      group: cert-manager.io
      version: v1
      name: metrics-certs
    fieldPaths:
    - spec.dnsNames.0
    - spec.dnsNames.1
    options:
      delimiter: '.'
      index: 1
      create: true
