apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - configmap-lua-scripts.yaml
  - filter-exclude-fluent-bit.yaml
  - filter-namespace-test.yaml
  - filter-parse-namespace.yaml
  - filter-detect-source.yaml
  - filter-transform-events.yaml
  - filter-transform-audit.yaml
  - output-stdout.yaml
