apiVersion: ray.io/v1
kind: RayService
metadata:
  name: {{ .Base.Name }}
  namespace: {{ .Base.Namespace }} 
spec:
  serveConfigV2: | 
{{ .Workload.Serveconfig | indent 4 }}
  rayClusterConfig:
    enableInTreeAutoscaling: true
    headGroupSpec:
      rayStartParams:
        dashboard-host: "0.0.0.0"
      template:
        spec:
          containers:
            - name: ray-head
              image: {{ .Base.Image }}
              env:
              {{- if .EnvVars }}
              {{- range .EnvVars }}
              {{- if .Value }}
                - name: {{ .Name }}
                  value: "{{ .Value }}"
              {{- else }}
                - name: {{ .Name }}
                  valueFrom:
                    secretKeyRef:
                      name: {{ .ValueFrom.SecretKeyRef.Name }}
                      key: {{ .ValueFrom.SecretKeyRef.Key }}
              {{- end }}
              {{- end }}
              {{- end }}
              resources:
                limits:
                  cpu: "2"
                  memory: "16Gi"
                requests:
                  cpu: "2"
                  memory: "16Gi"
              volumeMounts: 
              {{- if .SecretVolumes }}
              {{- range .SecretVolumes }}
                - name: {{ .Name }}
                  mountPath: {{ .MountPath }}
                  subPath: {{ .SubPath }}
              {{- end }}
              {{- end }}
              {{- if .Base.ConfigMap }}
                - mountPath: /workload/app
                  name: workload
              {{- end }}
                - mountPath: /dev/shm
                  name: dshm
              ports:
                - containerPort: 6379
                  name: gcs-server
                - containerPort: 8265
                  name: dashboard
                - containerPort: 10001
                  name: client
                - containerPort: 8000
                  name: serve
          volumes:
          {{- if .SecretVolumes }}
          {{- range .SecretVolumes }}
            - name: {{ .Name }}
              secret:
                secretName: {{ .SecretName }}
                items:
                  - key: {{ .Key }}
                    path: {{ .SubPath }}
          {{- end }}
          {{- end }}
          {{- if .Base.ConfigMap }}
            - name: workload
              configMap:
                name: {{ .Base.Name }}
          {{- end }}
            - name: dshm
              emptyDir:
                medium: Memory
                sizeLimit: 200Gi
    workerGroupSpecs:
      - replicas: {{ .Workload.Kueue.RequestedNumReplicas }}
        minReplicas: {{ .Workload.Kueue.RequestedNumReplicas }}
        maxReplicas: {{ mul .Workload.Kueue.RequestedNumReplicas 4 }}
        groupName: gpu-group
        rayStartParams: {}
        template:
          spec:
            containers:
              - name: llm
                image: {{ .Base.Image }}
                lifecycle:
                  preStop:
                    exec:
                      command: ["/bin/sh", "-c", "ray stop"]
                env:
                {{- if .EnvVars }}
                {{- range .EnvVars }}
                {{- if .Value }}
                  - name: {{ .Name }}
                    value: "{{ .Value }}"
                {{- else }}
                  - name: {{ .Name }}
                    valueFrom:
                      secretKeyRef:
                        name: {{ .ValueFrom.SecretKeyRef.Name }}
                        key: {{ .ValueFrom.SecretKeyRef.Key }}
                {{- end }}
                {{- end }}
                {{- end }}
                resources:
                    limits:
                        cpu: "{{ mul .Workload.Kueue.RequestedGPUsPerReplica 4 }}"
                        memory: "{{ mul .Workload.Kueue.RequestedGPUsPerReplica 32 }}Gi"
                        amd.com/gpu: "{{ .Workload.Kueue.RequestedGPUsPerReplica }}"
                    requests:
                        cpu: "{{ mul .Workload.Kueue.RequestedGPUsPerReplica 4 }}"
                        memory: "{{ mul .Workload.Kueue.RequestedGPUsPerReplica 32 }}Gi"
                        amd.com/gpu: "{{ .Workload.Kueue.RequestedGPUsPerReplica }}"
                volumeMounts: 
                {{- if .SecretVolumes }}
                {{- range .SecretVolumes }}
                  - name: {{ .Name }}
                    mountPath: {{ .MountPath }}
                    subPath: {{ .SubPath }}
                {{- end }}
                {{- end }}
                {{- if .Base.ConfigMap }}
                  - mountPath: /workload/app
                    name: workload
                {{- end }}
                  - mountPath: /dev/shm
                    name: dshm
            volumes:
            {{- if .SecretVolumes }}
            {{- range .SecretVolumes }}
              - name: {{ .Name }}
                secret:
                  secretName: {{ .SecretName }}
                  items:
                    - key: {{ .Key }}
                      path: {{ .SubPath }}
            {{- end }}
            {{- end }}
            {{- if .Base.ConfigMap }}
              - name: workload
                configMap:
                  name: {{ .Base.Name }}
            {{- end }}
              - name: dshm
                emptyDir:
                  medium: Memory
                  sizeLimit: 200Gi
