apiVersion: ray.io/v1
kind: RayJob
metadata:
  name: {{ .Meta.Name }}
  namespace: {{ .Meta.Namespace }}
  labels:
    kueue.x-k8s.io/queue-name: {{ .WorkloadMeta.Queue }}
    kaiwo-cli/username: {{ .Meta.User }}
spec:
  shutdownAfterJobFinishes: true
  entrypoint: |
{{ .Workload.Entrypoint | indent 4}}
  rayClusterSpec:
    rayVersion: "2.9.0"
    enableInTreeAutoscaling: false #cannot be true when using Kueue
    headGroupSpec:
      rayStartParams: {}
      template:
        spec:
          {{- if .Meta.ImagePullSecret }}
          imagePullSecrets:
          - name: {{ .Meta.ImagePullSecret }}
          {{- end }}
          containers:
            - name: ray-head
              image: {{ .Meta.Image }}
              imagePullPolicy: Always
              env:
                - name: HF_HOME
                  value /workload/.cache/huggingface
              {{- if .Meta.EnvVars }}
              {{- range .Meta.EnvVars }}
              {{- if .Value }}
                - name: {{ .Name }}
                  value: "{{ .Value }}"
              {{- else }}
                - name: {{ .Name }}
                  valueFrom:
                    secretKeyRef:
                      name: {{ .ValueFrom.SecretKeyRef.Name }}
                      key: {{ .ValueFrom.SecretKeyRef.Key }}
              {{- end }}
              {{- end }}
              {{- end }}
              resources:
                limits:
                  cpu: "2"
                  memory: "16Gi"
                requests:
                  cpu: "2"
                  memory: "16Gi"
              ports:
                - containerPort: 6379
                  name: gcs-server
                - containerPort: 8265
                  name: dashboard
                - containerPort: 10001
                  name: client
              volumeMounts:
              {{- if .Scheduling.Storage }}
                - mountPath: /workload
                  name: {{ .Meta.Name }}-pv
              {{- end }}
              {{- if .Meta.SecretVolumes }}
              {{- range .Meta.SecretVolumes }}
                - name: {{ .Name }}
                  mountPath: {{ .MountPath }}
                  subPath: {{ .SubPath }}
              {{- end }}
              {{- end }}
              {{- if .Meta.HasConfigMap }}
                - mountPath: /workload
                  name: workload
              {{- end }}
                - mountPath: /dev/shm
                  name: dshm
          volumes:
          {{- if .Scheduling.Storage }}
            - name: {{ .Meta.Name }}-pv
              persistentVolumeClaim:
                claimName: {{ .Meta.Name }}
          {{- end }}
          {{- if .Meta.SecretVolumes }}
          {{- range .Meta.SecretVolumes }}
            - name: {{ .Name }}
              secret:
                secretName: {{ .SecretName }}
                items:
                  - key: {{ .Key }}
                    path: {{ .SubPath }}
          {{- end }}
          {{- end }}
          {{- if .Meta.HasConfigMap }}
            - name: workload
              configMap:
                name: {{ .Meta.Name }}
          {{- end }}
            - name: dshm
              emptyDir:
                medium: Memory
                sizeLimit: 200Gi
    workerGroupSpecs:
      - replicas: {{ .Scheduling.CalculatedNumReplicas }}
        # Not used as enableInTreeAutoscaling is false
        # minReplicas: 1
        # maxReplicas: 1
        groupName: small-group
        rayStartParams: {}
        template:
          spec:
            {{- if .Meta.ImagePullSecret }}
            imagePullSecrets:
            - name: {{ .Meta.ImagePullSecret }}
            {{- end }}
            containers:
              - name: ray-worker
                image: {{ .Meta.Image }}
                imagePullPolicy: Always
                env:
                  - name: HF_HOME
                    value /workload/.cache/huggingface
                {{- if .Meta.EnvVars }}
                {{- range .Meta.EnvVars }}
                {{- if .Value }}
                  - name: {{ .Name }}
                    value: "{{ .Value }}"
                {{- else }}
                  - name: {{ .Name }}
                    valueFrom:
                      secretKeyRef:
                        name: {{ .ValueFrom.SecretKeyRef.Name }}
                        key: {{ .ValueFrom.SecretKeyRef.Key }}
                {{- end }}
                {{- end }}
                {{- end }}
                ports:
                  - containerPort: 6379
                    name: gcs-server
                  - containerPort: 8265
                    name: dashboard
                  - containerPort: 10001
                    name: client
                resources:
                    limits:
                        cpu: "{{ mul .Scheduling.CalculatedGPUsPerReplica 4 }}"
                        memory: "{{ mul .Scheduling.CalculatedGPUsPerReplica 32 }}Gi"
                        amd.com/gpu: "{{ .Scheduling.CalculatedGPUsPerReplica }}"
                    requests:
                        cpu: "{{ mul .Scheduling.CalculatedGPUsPerReplica 4 }}"
                        memory: "{{ mul .Scheduling.CalculatedGPUsPerReplica 32 }}Gi"
                        amd.com/gpu: "{{ .Scheduling.CalculatedGPUsPerReplica }}"
                volumeMounts:
                {{- if .Scheduling.Storage }}
                  - mountPath: /workload
                    name: {{ .Meta.Name }}-pv
                {{- end }}
                {{- if .Meta.SecretVolumes }}
                {{- range .Meta.SecretVolumes }}
                  - name: {{ .Name }}
                    mountPath: {{ .MountPath }}
                    subPath: {{ .SubPath }}
                {{- end }}
                {{- end }}
                {{- if .Meta.HasConfigMap }}
                  - mountPath: /workload
                    name: workload
                {{- end }}
                  - mountPath: /dev/shm
                    name: dshm
            volumes:
            {{- if .Scheduling.Storage }}
              - name: {{ .Meta.Name }}-pv
                persistentVolumeClaim:
                  claimName: {{ .Meta.Name }}
            {{- end }}
            {{- if.Meta.SecretVolumes }}
            {{- range .Meta.SecretVolumes }}
              - name: {{ .Name }}
                secret:
                  secretName: {{ .SecretName }}
                  items:
                    - key: {{ .Key }}
                      path: {{ .SubPath }}
            {{- end }}
            {{- end }}
            {{- if .Meta.HasConfigMap }}
              - name: workload
                configMap:
                  name: {{ .Meta.Name }}
            {{- end }}
              - name: dshm
                emptyDir:
                  medium: Memory
                  sizeLimit: 200Gi