apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Base.Name }}
  namespace: {{ .Base.Namespace }}
  labels:
    kueue.x-k8s.io/queue-name: {{ .Base.Queue }}
spec:
  ttlSecondsAfterFinished: {{ mul .Base.TtlMinAfterFinished 60 }}
  template:
    spec:
      restartPolicy: "Never"
      containers:
      - name: {{ .Base.Name }}
        image: {{ .Base.Image }}
        imagePullPolicy: Always
        {{- if .Workload.Entrypoint }}
        command: 
        - sh
        - -c
        - {{ .Workload.Entrypoint }}
        {{- end }}
        env:
        {{- if .EnvVars }}
        {{- range .EnvVars }}
        {{- if .Value }}
          - name: {{ .Name }}
            value: "{{ .Value }}"
        {{- else }}
          - name: {{ .Name }}
            valueFrom:
              secretKeyRef:
                name: {{ .ValueFrom.SecretKeyRef.Name }}
                key: {{ .ValueFrom.SecretKeyRef.Key }}
        {{- end }}
        {{- end }}
        {{- end }}
        resources:
          requests:
            memory: "{{ mul .Base.GPUs 32 }}Gi"
            cpu: "{{ mul .Base.GPUs 4 }}"
            amd.com/gpu: "{{ .Base.GPUs }}"
          limits:
            memory: "{{ mul .Base.GPUs 32 }}Gi"
            cpu: "{{ mul .Base.GPUs 4 }}"
            amd.com/gpu: "{{ .Base.GPUs }}"
        volumeMounts:
        {{- if .SecretVolumes }}
        {{- range .SecretVolumes }}
          - name: {{ .Name }}
            mountPath: {{ .MountPath }}
            subPath: {{ .SubPath }}
        {{- end }}
        {{- end }}
        {{- if .Base.ConfigMap }}
          - mountPath: /workload
            name: workload
        {{- end }}
          - mountPath: /dev/shm
            name: dshm
      volumes:
      {{- if .SecretVolumes }}
      {{- range .SecretVolumes }}
        - name: {{ .Name }}
          secret:
            secretName: {{ .SecretName }}
            items:
              - key: {{ .Key }}
                path: {{ .SubPath }}
      {{- end }}
      {{- end }}
      {{- if .Base.ConfigMap }}
        - name: workload
          configMap:
            name: {{ .Base.Name }}
      {{- end }}
        - name: dshm
          emptyDir:
            medium: Memory
            sizeLimit: 200Gi

       