apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Meta.Name }}
  namespace: {{ .Meta.Namespace }}
  labels:
    kueue.x-k8s.io/queue-name: {{ .WorkloadMeta.Queue }}
    kaiwo-cli/username: {{ .Meta.User }}
spec:
  ttlSecondsAfterFinished: 3600
  template:
    spec:
      restartPolicy: "Never"
      {{- if .Meta.ImagePullSecret }}
      imagePullSecrets:
      - name: {{ .Meta.ImagePullSecret }}
      {{- end }}
      containers:
      - name: {{ .Meta.Name }}
        image: {{ .Meta.Image }}
        imagePullPolicy: Always
        {{- if .Workload.Entrypoint }}
        command: 
        - sh
        - -c
        - {{ .Workload.Entrypoint }}
        {{- end }}
        env:
        {{- if .Meta.EnvVars }}
        {{- range .Meta.EnvVars }}
        {{- if .Value }}
          - name: {{ .Name }}
            value: "{{ .Value }}"
        {{- else }}
          - name: {{ .Name }}
            valueFrom:
              secretKeyRef:
                name: {{ .ValueFrom.SecretKeyRef.Name }}
                key: {{ .ValueFrom.SecretKeyRef.Key }}
        {{- end }}
        {{- end }}
        {{- end }}
        resources:
          requests:
            memory: "{{ max (mul .Scheduling.TotalRequestedGPUs 32) 4 }}Gi"
            cpu: "{{ max (mul .Scheduling.TotalRequestedGPUs 4) 1 }}"
            {{ if .Scheduling.TotalRequestedGPUs }}
            amd.com/gpu: "{{ .Scheduling.TotalRequestedGPUs }}"
            {{ end }}
          limits:
            memory: "{{ max (mul .Scheduling.TotalRequestedGPUs 32) 4 }}Gi"
            cpu: "{{ max (mul .Scheduling.TotalRequestedGPUs 4) 1 }}"
            {{ if .Scheduling.TotalRequestedGPUs }}
            amd.com/gpu: "{{ .Scheduling.TotalRequestedGPUs }}"
            {{ end }}
        volumeMounts:
        {{- if .Meta.SecretVolumes }}
        {{- range .Meta.SecretVolumes }}
          - name: {{ .Name }}
            mountPath: {{ .MountPath }}
            subPath: {{ .SubPath }}
        {{- end }}
        {{- end }}
        {{- if .Meta.HasConfigMap }}
          - mountPath: /workload
            name: workload
        {{- end }}
          - mountPath: /dev/shm
            name: dshm
      volumes:
      {{- if .Meta.SecretVolumes }}
      {{- range .Meta.SecretVolumes }}
        - name: {{ .Name }}
          secret:
            secretName: {{ .SecretName }}
            items:
              - key: {{ .Key }}
                path: {{ .SubPath }}
      {{- end }}
      {{- end }}
      {{- if .Meta.HasConfigMap }}
        - name: workload
          configMap:
            name: {{ .Meta.Name }}
      {{- end }}
        - name: dshm
          emptyDir:
            medium: Memory
            sizeLimit: 200Gi

