name: lint-and-test
on:
  push:
    branches:
    - main
    - master
  pull_request: {}


permissions:
  contents: read

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v8
      with:
        version: v2.1
        args: --timeout=10m
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
    - name: Clone the code
      uses: actions/checkout@v4

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: Running Tests
      run: |
        go mod tidy
        make test

  lint-python:
    name: Lint Python code
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./python
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: 3.12
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
    - name: Run flake8
      run: flake8 kaiwo
    - name: Run Black
      run: black kaiwo
    - name: Run isort
      run: isort kaiwo

  test-e2e:
    name: Run e2e tests
    runs-on: ubuntu-latest
    steps:
    - name: Clone the code
      uses: actions/checkout@v4

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: Install the latest version of kind
      run: |
        curl -Lo ./kind https://kind.sigs.k8s.io/dl/latest/kind-linux-amd64
        chmod +x ./kind
        sudo mv ./kind /usr/local/bin/kind

    - name: Verify kind installation
      run: kind version

    - name: Install Chainsaw
      uses: kyverno/action-install-chainsaw@v0.2.12
      with:
        release: v0.2.12

    - name: Setup Flux CLI
      uses: fluxcd/flux2/action@main
      with:
        version: 'latest'

    - name: Create kind cluster
      run: |
        set -e
        FLUX_BRANCH=automation-upgrade test/setup/kind.sh

    - name: Running Test e2e
      run: |-
        go mod tidy
        cd test
        make test-kind-deploy
